body{
  background-image: url(../img/pattern.jpg);
}
header{
  background:rgb(255,255,255);
  height: 80px;
  box-shadow: 0 0 10px grey;
  position: sticky;
  top: 0;
}

header #logo{
 position: absolute;;
 padding: 10px 0 0 0;
 left: 30px;
}

header nav {
position: relative;
float: right;
right: 50px;

}

nav ul a{

  float: left;
  text-decoration: none;
  line-height: 80px;
  padding: 0 20px;
  color: rgb(0,41,224);
  font-weight: bold;
  font-size: 18px;
  list-style: none;
}


section{

  background-color: white;
  margin: auto;
  width: 80%;
  margin-top: 10px;
  padding-left:  5px;
  padding-right:  5px;
}

section h1{
  text-align: center;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
  height: 30px;
  line-height: 30px;

}
